smtpd_banner = $myhostname ESMTP $mail_name (Ubuntu)
biff = no
append_dot_mydomain = no
readme_directory = no
compatibility_level = 3.6

smtpd_tls_cert_file=/etc/postfix/certs/fullchain.pem
smtpd_tls_key_file=/etc/postfix/certs/privkey.pem
smtpd_tls_security_level=may

smtp_tls_CApath=/etc/ssl/certs
smtp_tls_security_level=may
smtp_tls_session_cache_database = lmdb:${data_directory}/smtp_scache

smtpd_relay_restrictions = permit_mynetworks permit_sasl_authenticated defer_unauth_destination

myhostname = ${HOSTNAME}
mydomain = ${ALLOWED_SENDER_DOMAINS}
myorigin = $mydomain

alias_maps = lmdb:/etc/aliases
alias_database = lmdb:/etc/aliases
mydestination = localhost.${ALLOWED_SENDER_DOMAINS}, localhost, ${ALLOWED_SENDER_DOMAINS}

relayhost =
mynetworks = 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128 172.16.0.0/12 192.168.0.0/16

mailbox_size_limit = 0
recipient_delimiter = +
inet_interfaces = all
inet_protocols = ipv4

header_checks = regexp:/etc/postfix/header_checks

milter_default_action = accept
milter_protocol = 2

smtpd_milters = inet:milter:8892 inet:localhost:8891
non_smtpd_milters = inet:milter:8892 inet:localhost:8891